@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@500&family=Noto+Serif:wght@300&family=Poppins:wght@300;500;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}


html, body {
    min-height: 100vh;
    background-color: #bcc9cb57;
    margin-left: 3px;
    margin-right: 3px;
}

body > h3 {
    font-family: 'Noto Serif' serif;
    color: rgb(46, 46, 46);
    padding: 5px;
    margin-left: 3px;
}

header {
    background-color: #a17933d3;
    padding-bottom: 50px;
    margin-top: 5px;
    color: white;
    text-align: center;
    border-radius: 7px;

}

header > h1 {
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    font-variant: small-caps;
    font-size: 8vw;
}

section {
    padding-top: 10vh;
    padding-bottom: 20vh;
    line-height: 2em;
    padding-left: 20px;
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    font-family: 'Noto Serif';
    background-color: #e8f6fbba;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    box-shadow: inset 2px 2px 2px rgba(175, 175, 175, 0.839);
}

section.imagem {
    font-family: 'Caveat', cursive;
    background-color: #cfad74;
    color: rgb(8, 8, 8);
    box-shadow: inset 6px 6px 13px 0px;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
    margin-bottom: 5px;

}

section.imagem > p, q {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(13, 13, 13, 0.408);
    color: rgba(255, 255, 255, 0.835);
}

section#img01 {
    background-image: url(../imagens/lentes_do_sertao.png);
    background-position: center center;
}

section#img02 {
    background-image: url(../imagens/caatinga.jpg);
    background-position: right center;
}

section#img03 {
    background-image: url(../imagens/mulher.jpg);
    background-position: left center;
}

button.botao {
    height: 5vh;
    width: 20vw;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(192, 190, 188);
    border-radius: 5px;
    
}  

button.botao:hover {
    background-color: aliceblue;
    
}


footer {
    background-color: #5d4d39cc;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 30px;
    border-radius: 5px;
}
